$background: #d8ecf1
$foreground: #0d1a24
$gray-alpha-200: #403f47
$blue-alpha-100: #b9dff5
$gray-alpha: #3a374e60
$button-primary-hover: #383838
$button-secondary-hover: #f2f2f2
$button-red: #910b1d
$button-green: #0b9164
$button-yellow: #cdf031


@mixin flex($content, $items, $direction: row)
  display: flex
  justify-content: $content
  align-items: $items
  flex-direction: $direction

@mixin button($color)
  padding: 0.5rem 1rem
  border: none
  border-radius: 4px
  color: white
  cursor: pointer
  font-size: 0.8rem
  @if($color == 'y')
    background: $button-yellow
    color: $foreground
  @if($color == 'g')
    background: $button-green
  @if($color == 'r')
    background: $button-red
  