$background: #d8ecf1
$foreground: #0d1a24
$gray-alpha-200: #403f47
$blue-alpha-100: #b9dff5
$gray-alpha: #3a374e60
$button-primary-hover: #383838
$button-secondary-hover: #f2f2f2
$button-red: #910b1d
$button-green: #0b9164
$button-yellow: #cdf031


@mixin flex($content, $items, $direction: row)
  display: flex
  justify-content: $content
  align-items: $items
  flex-direction: $direction